{% extends 'base.html.twig' %}

{% block title %}Edit BracketDouble{% endblock %}

{% block body %}
    <h1>Edit BracketDouble</h1>

    <h2>Winner Bracket</h2>

    {{ include('evenement/_form_bracket_double.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evenement_show', {'id': bracket_double.tournoi.id }) }}">Retour</a>

    {{ include('bracket_double/_delete_form.html.twig') }}
{% endblock %}
