{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
    <a href="{{ path('app_register') }}">Inscription</a>
    <li>{{ username }}</li>

{% endblock %}
