{% extends 'base.html.twig' %}

{% block title %}Matieres{% endblock %}

{% block body %}

<div class="container">
    <h1>Corrections de {{archive.titre}}</h1>

    <table class="table table-dark">
      <tbody>
        {% for correction in corrections %}
        <tr>
            <td><a href="{{ asset('uploads/archives/' ~ correction.correction) }}">{{correction.titre}}(PDF)</a></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
