<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{encore_entry_link_tags('app') }}
          <link rel="stylesheet" media="all" href="{{ asset('build/css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
      <header id="header">
        <div class="container">
          <a href="index.html" id="logo" title="FIFO">FIFO</a>
          <div class="menu-trigger"></div>
          <nav id="menu">
            <ul>
              <li><a href="#">Evenement</a></li>
              <li><a href="{{path('page_archives')}}">Archives</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
            <ul>
              <li><a href="#">Entreprise</a></li>
              <li><a href="#" class="get-contact">Contact</a></li>
              <li><a href="#">Connexion</a></li>

              </ul>
          </nav>
          <!-- / navigation -->
        </div>
        <!-- / container -->

      </header>
      <div class="divider"></div>
      <!-- / header -->
        {% block body %}{% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
