{% extends 'base.html.twig' %}

{% block title %}Bracket{% endblock %}

{% block body %}
<h1 id="test">Bracket</h1>
<div class="container mb-3">
  <div >

  {% if evenement.isTournoi == true %}
    {% for duel in evenement.bracket.duels %}
        <div class="col-sm-3">
            <table class="table table-dark table-bordered">
              {% if  duel.Inscrit1 %}
                <tr>
                  <th scope="row">{{ duel.Inscrit1.nom}}</th>
                  <td>{{ duel.ScoreInscrit1 }}</td>
                </tr>
              {% else %}
                <tr>
                  <th scope="row"> INCONNU </th>
                  <td>0</td>
                </tr>
              {% endif %}
              {% if  duel.Inscrit2 %}
                <tr>
                  <th scope="row">{{ duel.Inscrit2.nom}}</th>
                  <td>{{ duel.ScoreInscrit2 }}</td>
                </tr>
              {% else %}
                <tr>
                  <th scope="row"> INCONNU </th>
                  <td>0</td>
                </tr>
              {% endif %}
            </table>
        </div>

    {% endfor %}
  {% endif %}
  </div >
</div>




{% endblock %}
