{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <div class="container">
      <div>
        <h1>Nouveau topic dans {{categorie.titre}}</h1>
      </div>
      {{ include('forum/_formTopic.html.twig') }}
    </div>

{% endblock %}
