{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1>Crée un nouveau Topic dans {{categorie.titre}}</h1>

    {{ include('forum/_formTopic.html.twig') }}

{% endblock %}
