{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="container">
  <ul>
    {% for topic in topics %}
      <li>
        <form method="get" action="{{ path('topic', {'slugCategorie': slugCategorie , 'slugTopic': topic.slug }) }}">
            <button type="submit" class="btn btn-secondary">{{topic.titre}}</button>
        </form>
      </li>
    {% else %}
  </ul>
      <tr>
        <td colspan="5">no records found</td>
      </tr>
    {% endfor %}
</div>
{% endblock %}
